.ctn {
	padding: 30px 20px;
	text-align: center;
	font-size: 28px; /*px*/
	> .control {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 6px 0;
		> label {
			width: 4em;
			padding-right: 8px; /*px*/
			text-align: right;
		}
		> input {
			width: 15em;
			padding: 0 8px; /*px*/
			font-size: 24px; /*px*/
			line-height: 60px; /*px*/
			border-color: #ccc;
			border-radius: 8px;
		}
		> button {
			width: 200px;
			line-height: 50px; /*px*/
			font-size: 36px; /*px*/
			border-radius: 8px;
			background: #FFA07A;
			color: #494949;
		}
	}
}